LoadModule ssl_module modules/mod_ssl.so

Listen 443
<VirtualHost *:443>
  ServerName datadryad.org
  ServerAlias www.datadryad.org
  ServerAlias prod.datadryad.org
  ErrorLog ${APACHE_LOG_DIR}/datadryad.org-error_log
  CustomLog ${APACHE_LOG_DIR}/datadryad.org-access_log combined
  
  AllowEncodedSlashes On
  AcceptPathInfo On
  AddDefaultCharset UTF-8
  ProxyPreserveHost On
  
  SSLEngine on
  
  SSLCertificateKeyFile "/etc/apache2/certs/2017.datadryad.org.key"
  SSLCertificateFile "/etc/apache2/certs/2017.datadryad.org.crt"
  SSLCertificateChainFile "/etc/apache2/certs/2017.datadryad.org.ca-bundle"
  SSLCipherSuite "ALL:!ADH:RC4+RSA:+HIGH:+MEDIUM:+LOW:!SSLv2:+EXP:+eNULL"
  SSLCACertificateFile "/etc/apache2/certs/DataONECAChain.crt"
  SSLProxyEngine On
  
  RewriteEngine On

  # Block IP addresses that don't respect our servers
  #   -- The last one on the list must *not* have the OR option
  # This is HighWire -- RewriteCond %{REMOTE_ADDR} ^104\.232\.31\.177 [NC,OR]
  RewriteCond %{REMOTE_ADDR} ^123\.456\.789\.1 [NC,OR]
  RewriteCond %{REMOTE_ADDR} ^52\.51\.235\.75 [NC,OR]
  RewriteCond %{REMOTE_ADDR} ^192\.107\.175\.11 [NC,OR]
  RewriteCond %{REMOTE_ADDR} ^158\.69\.26\.33 [NC,OR]
  RewriteCond %{REMOTE_ADDR} ^122\.233\.114\.84 [NC,OR]
  RewriteCond %{REMOTE_ADDR} ^180\.126\.232\.200 [NC,OR]
  RewriteCond %{REMOTE_ADDR} ^202\.46(.*) [NC]
  RewriteRule ^(.*)$ - [F,L]

  # block spiders that don't read the robots.txt and spiral out of control
  #   -- The last one on the list must *not* have the OR option 
  RewriteCond %{HTTP_USER_AGENT} ^.*Baiduspider.* [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} ^.*Ezooms.* [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} ^HuaweiSymantecSpider [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} ^Localbot [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} ^.*MJ12bot.* [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} ^Sosospider [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} ^.*Vagabondo.* [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} ^.*YandexBot.* [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} ^.*JikeSpider.* [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} ^.*ichiro.* [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} ^.*AhrefsBot.* [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} ^.*Ephorusbot.* [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} ^.*YandexMedia.* [NC]
  RewriteRule .* - [F,L]
  
{% if dryad.is_production %}
  # Send API requests to API server
  RewriteRule ^/(oai.*)$ http://api.datadryad.org/$1 [R=permanent]
  RewriteRule ^/(widget.*)$ http://api.datadryad.org/$1 [R=permanent]
  RewriteRule ^/(mn.*)$ http://api.datadryad.org/$1 [R=permanent]
{% endif %}

  # Block DSpace security hole
  # This redirects all vulnerable URLs to /error
  # (which doesn't exist and throws a 404 response)
  RewriteRule ^/+themes/.*:.*$ /error [R=permanent,L]
  
  # General rewrites for convenient URLs
  RewriteRule ^/docs$ /themes/Mirage/docs [R=301]
  RewriteRule ^/submit$ /handle/10255/3/submit [R]
  RewriteRule ^/repo(.*)$ http://www.datadryad.org$1 [P,R=301]
  RewriteRule ^/dryadLogo.png$ /themes/Dryad/images/dryadLogo.png [R=301]
  RewriteRule ^/about$ /pages/organization [R=301]
  RewriteRule ^/members$ /pages/membershipOverview [R=301]
  RewriteRule ^/jdap$ /pages/jdap [R=301]
  RewriteRule ^/policies$ /pages/policies [R=301]
  RewriteRule ^/searching$ /pages/searching [R=301]
  RewriteRule ^/depositing$ /pages/faq#depositing [NE,R=301]
  RewriteRule ^/using$ /pages/faq#using [NE,R=301]
  RewriteRule ^/publicationBlackout$ /pages/publicationBlackout [R=301]
  RewriteRule ^/dans-news$ http://wiki.datadryad.org/images/2/29/Dryad-DANS_Announcement.pdf
  ProxyPass /dryadlab http://datadryad.org/pages/dryadlab
  ProxyPassReverse /dryadlab http://datadryad.org/pages/dryadlab               
  
  # Prevent external systems from writing to the SOLR index
  ProxyPass /solr/search/update !
  ProxyPassReverse /solr/search/update !
  ProxyPass /solr/statistics/update !
  ProxyPassReverse /solr/statistics/update !
  
  # Rewrite "&amp;" to "&" in query strings to fix the incorrectly encoded ampersand
  # for Journal of Fish and Wildlife
  RewriteCond %{QUERY_STRING} ^([^\?]*)\&amp;(.*)$
  RewriteRule ^(.*)$ $1\?%1&%2 [R]
  
</VirtualHost>
