<VirtualHost *:80>
	     # The ServerName directive sets the request scheme, hostname and port that
	     # the server uses to identify itself. This is used when creating
	     # redirection URLs. In the context of virtual hosts, the ServerName
	     # specifies what hostname must appear in the request's Host: header to
	     # match this virtual host. For the default virtual host (this file) this
	     # value is not decisive as it is used as a last resort host regardless.
	     # However, you must set it for any further virtual host explicitly.
	     #ServerName www.example.com

	     ServerAdmin  help@datadryad.org  
	     DocumentRoot /var/www/html

	     # Available loglevels: trace8, ..., trace1, debug, info, notice, warn,
	     # error, crit, alert, emerg.
	     # It is also possible to configure the loglevel for particular
	     # modules, e.g.
	     #LogLevel info ssl:warn

	     ErrorLog ${APACHE_LOG_DIR}/datadryad.org-error_log
	     CustomLog ${APACHE_LOG_DIR}/datadryad.org-access_log combined

	     # For most configuration files from conf-available/, which are
	     # enabled or disabled at a global level, it is possible to
	     # include a line for only one particular virtual host. For example the
	     # following line enables the CGI configuration for this host only
	     # after it has been globally disabled with "a2disconf".
	     #Include conf-available/serve-cgi-bin.conf

	AllowEncodedSlashes On
        AcceptPathInfo On
	AddDefaultCharset UTF-8
	ProxyPreserveHost On


        RewriteEngine On

	# Block DSpace security hole
	# This redirects all vulnerable URLs to /error
	# (which doesn't exist and throws a 404 response)
	RewriteRule ^/+themes/.*:.*$ /error [R=permanent,L]

 	# General rewrites for convenient URLs
	RewriteRule ^/docs$ /themes/Mirage/docs [R=301]
	RewriteRule ^/submit$ /handle/10255/3/submit [R]
	RewriteRule ^/repo(.*)$ http://www.datadryad.org$1 [P,R=301]
	RewriteRule ^/about$ /pages/organization [R=301]
	RewriteRule ^/members$ /pages/membershipOverview [R=301]
	RewriteRule ^/jdap$ /pages/jdap [R=301]
	RewriteRule ^/policies$ /pages/policies [R=301]
	RewriteRule ^/searching$ /pages/searching [R=301]
	RewriteRule ^/depositing$ /pages/faq#depositing [NE,R=301]
	RewriteRule ^/using$ /pages/faq#using [NE,R=301]
	RewriteRule ^/publicationBlackout$ /pages/publicationBlackout [R=301]
	RewriteRule ^/dans-news$ http://wiki.datadryad.org/images/2/29/Dryad-DANS_Announcement.pdf
	ProxyPass /dryadlab http://datadryad.org/pages/dryadlab
	ProxyPassReverse /dryadlab http://datadryad.org/pages/dryadlab               
</VirtualHost>
