#!/bin/bash

echo "Registering instance with AWS OpsWorks..."
aws opsworks register --region {{ dryad.aws.regionName }} --infrastructure-class ec2 --stack-id c05bd570-7890-4579-8edb-826332df7e04 --local --override-hostname {{ dryad.instance_name }}

echo "Waiting for instance to register..."
sleep 5
INSTANCE_ID=$(sudo opsworks-agent-cli stack_state | sed -n 's/\"instance_id\"\://p' | sed -n 's/\s//pg' | sed -n 's/"//pg' | sed -n 's/,//pg')
EC2_INSTANCE_ID=$(sudo opsworks-agent-cli stack_state | sed -n 's/\"ec2_instance_id\"\://p' | sed -n 's/\s//pg' | sed -n 's/"//pg' | sed -n 's/,//pg')

while [ $INSTANCE_ID == "" ]; do
	echo "still waiting for instance to register..."
	sleep 5
	INSTANCE_ID=$(sudo opsworks-agent-cli stack_state | sed -n 's/\"instance_id\"\://p' | sed -n 's/\s//pg' | sed -n 's/"//pg' | sed -n 's/,//pg')
done

if [ {{ dryad.is_production }} = True ]; then
	echo "Assigning instance to Dryad Servers layer"
	aws opsworks update-instance --instance-id $INSTANCE_ID --layer-ids 0e95b566-d572-4a2d-a83b-a7018e451c19
fi

if [ {{ dryad.is_production }} != True ]; then
	echo "Assigning instance to Test Machines layer"
	aws opsworks update-instance --instance-id $INSTANCE_ID --layer-ids ecff7e23-92f9-479a-805d-024673631a19
fi

EC2_INSTANCE_ID=$(sudo opsworks-agent-cli stack_state | sed -n 's/\"ec2_instance_id\"\://p' | sed -n 's/\s//pg' | sed -n 's/"//pg' | sed -n 's/,//pg')
echo "Adding EC2 name to $EC2_INSTANCE_ID"
aws ec2 create-tags --resources $EC2_INSTANCE_ID --tags Key=Name,Value={{ dryad.instance_name }}
