export PATH="$HOME/.local/bin:$HOME/bin:{{ dryad.tomcat_home }}/bin:$HOME/dryad-utils:$PATH"

# AWS settings:
export AWS_ACCESS_KEY_ID={{ dryad.aws.accessKey }}
export AWS_SECRET_ACCESS_KEY={{ dryad.aws.secretKey }}

# Postgres settings:
# Requires .pgpass
export PGHOST={{ dryad.db.host }}
export PGPORT={{ dryad.db.port }}
export PGUSER={{ dryad.db.user }}
export PGDATABASE={{ dryad.db.name }}

# aliases and vars for dryad-utils 
export DRYAD_DB_HOST=$PGHOST

if [ ! -f $HOME/.gitconfig ]; then
  echo
  echo "Please configure your git name and email:"
  echo
  echo "git config --global user.name \"John Doe\""
  echo "git config --global user.email johndoe@example.com"
  echo
  echo "And your preferred editor"
  echo
  echo "git config --global core.editor vi"
  echo
fi

# Tomcat JMX settings
export JMXPORT={{dryad.jmx.port}}
export JMXHOST={{dryad.host}}

# Maven PermGen settings
export MAVEN_OPTS="-Xmx512m -XX:MaxPermSize=128m"

# If there is a local .bashrc, load it
if [ -f ~/.bashrc ]; then
   source ~/.bashrc
fi

# update instance
sudo apt-get upgrade

# Register this instance with OpsWorks on first login
if [ -f ~/.aws/aws_opsworks.sh ]; then
	bash ~/.aws/aws_opsworks.sh
	rm ~/.aws/aws_opsworks.sh
fi
