# Backup crontab daily
0 0 * * * /home/ubuntu/dryad-utils/backup_crontab.sh {{ dryad.instance_name }} &>/dev/null
# Export database for backup purposes
0,30 * * * * /home/ubuntu/dryad-utils/database-export.sh -q

# Export daily backup to dryad-backup at AWS
15 1 * * * /home/ubuntu/dryad-utils/aws-tools/backup-sql-solr.sh
