#!/bin/bash

set -e
cd {{ dryad.repo_path }}/dspace/target/dspace-1.7.3-SNAPSHOT-build.dir/
ant clean_backups -Doverwrite=true
ant update -Doverwrite=true
{% if dryad.is_production %}cp {{ dryad.install_dir }}/webapps/xmlui/static/robots.txt.production {{ dryad.install_dir }}/webapps/xmlui/static/robots.txt{% endif %}

echo "Dryad has been deployed. Start tomcat with:"
echo "~/dryad-tomcat/bin/startup.sh"
