#!/bin/sh

DRYAD_CODE_DIR={{ dryad.repo_path }}

# Copy test directory to local filesystem, outside of source repo, and owned by dryad user
DRYAD_TEST_DIR="{{ dryad.install_dir }}/test"

if [ -d $DRYAD_TEST_DIR ]; then
  rm -rf "${DRYAD_TEST_DIR}"
fi

cp -L -p -r "${DRYAD_CODE_DIR}/test" "${DRYAD_TEST_DIR}"

# Requires .pgpass
export PGHOST={{ dryad.testdb.host }}
export PGPORT={{ dryad.testdb.port }}
export PGUSER={{ dryad.testdb.user }}
export PGDATABASE={{ dryad.testdb.name }}

# Drop the dryad_test database
# dropdb/createdb require PGPASSWORD
export PGPASSWORD=`grep $PGUSER $HOME/.pgpass | awk -F ':' '{print $5}'`

dropdb $PGDATABASE
createdb $PGDATABASE

${DRYAD_CODE_DIR}/test/bin/install-test-database.sh
