
### Welcome to Vagrant-dryad

* Documentation https://github.com/datadryad/vagrant-dryad

### Dryad paths:

Dryad source (git):     {{ dryad.repo_path }}
Dryad installation:     {{ dryad.install_dir }}
Tomcat home:            {{ dryad.tomcat_home }}

### Next steps:

1. Build dryad          /home/vagrant/bin/build_dryad.sh
2. Deploy dryad         /home/vagrant/bin/deploy_dryad.sh
3. Install database     /home/vagrant/bin/install_dryad_database.sh
4. Start tomcat         {{ dryad.tomcat_home }}/bin/startup.sh
5. Rebuild SOLR indexes /home/vagrant/bin/build_indexes.sh

