{{ dryad.db.host }}:{{ dryad.db.port }}:{{ dryad.db.name }}:{{ dryad.db.user }}:{{ dryad.db.password }}
{{ dryad.testdb.host }}:{{ dryad.testdb.port }}:{{ dryad.testdb.name }}:{{ dryad.testdb.user }}:{{ dryad.testdb.password }}
