#!/bin/bash

set -e

TEST_DIR="{{ dryad.install_dir }}/test"

# Create test environment if it does not exist

if [ ! -d $TEST_DIR ]; then
  echo "$TEST_DIR does not exist, installing test environment"
  {{ dryad.user_home }}/bin/install_dryad_test_database.sh
fi

echo "Running dryad tests..."

# Create test environment if -c specified
if (( $# > 0 )) && [ $1 = "-c" ]; then
  {{ dryad.user_home }}/bin/install_dryad_test_database.sh
else
  echo "Use -c to clean test database"
fi

cd {{ dryad.repo_path }}
mvn package -DskipTests=false -Ddefault.dspace.dir="$TEST_DIR"

